[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[alias]
	ci = commit
	co = checkout
	st = status
	br = branch
[user]
	name = Nick Terwoord
	email = nicholas.terwoord@shopify.com
[push]
	default = current
[color]
	ui = true
[pull]
	rebase = true
